@using Microsoft.AspNetCore.Mvc.TagHelpers
@model LoginDataModel
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Вход</title>
    <link rel="stylesheet" href="~/css/signInStyle.css">
  </head>
<main>
  <div class="form-container">
    <form class="sign-in-form" method="post" asp-action="ProcessSignIn">
      <h1>Войти в аккаунт</h1>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required>
      <label for="password">Пароль</label>
      <input type="password" id="password" name="password" required>
      <button type="submit" class="sign-in-button">Войти</button>
      <p>Нет аккаунта? <a href="~/SignUp">Зарегистрироваться</a></p>
    </form>
  </div>
</main>



</html>