<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign In</title>
    <link rel="stylesheet" href="~/css/signUpStyle.css">
  </head>
<main>
  <div class="form-container">
    <form class="sign-in-form">
      <h1>Sign Up</h1>
      <label for="name">Name</label>
      <input type="name" id="name" name="name" required>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
      <button type="submit" class="sign-in-button">Sign Up</button>
      <p>Already have an account? <a href="#">Sign In</a></p>
    </form>
  </div>
</main>



</html>