<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Upload Document</title>
    <link rel="stylesheet" href="~/css/DocUploadStyle.css">
  </head>
<main>
  <div class="form-container">
    <form class="sign-in-form">
      <h1>Document Uploading</h1>
      <label for="email">Document Name</label>
      <input type="email" id="email" name="email" required>
      <label for="password">File</label>
      <input id="file-upload" type="file" accept=".pdf"/>
      <br>
      <button type="submit" class="sign-in-button">Save</button>
    </form>
  </div>
</main>



</html>