<!DOCTYPE html>
<html>
  <head>
    <title>User Profile</title>
      <link rel="stylesheet" href="~/css/profileStyle.css">
  </head>
  <body>
    <header>
      <div class="logo">FarmTrade</div>
      <div class="search-bar">
        <input type="text" class="search-input" placeholder="Search products...">
        <button class="search-button">Search</button>
      </div>
      <div class="dropdown user-buttons">
        <button class="user-button">Categories</button>
                <ul class="dropdown-menu">
                  <li><a href="#">Category 1</a></li>
                  <li><a href="#">Category 2</a></li>
                  <li><a href="#">Category 3</a></li>
                </ul>
      </div>
      <div class="user-buttons">
        <a class="user-button button" href="~/SignIn">Sign In</a>
        <a class="user-button button" href="~/SignUp">Sign Up</a>
      </div>
    </header>

    <div class="user-info">
      <h2>User Profile</h2>
      <p>Name: John Doe</p>
      <p>Age: 35</p>
      <p>Email: johndoe@example.com</p>
      <p>Address: 123 Main St, Anytown, USA</p>
      <a href="~/AddProduct" target="popup" onclick="window.open('/AddProduct','name','width=800,height=600')">
        Add product
      </a>
      <br>
      <a href="#">Your documents</a> <br>
      <a href="~/DocumentUpload" target="popup" onclick="window.open('/DocumentUpload','name','width=520,height=320')">
        Upload Document
      </a>
      <br>
      
      <a href="~/Index">Log out</a>
    </div>
    <div class="product-grid">
      <div class="product">
        <h3>Product 1</h3>
        <img src="https://via.placeholder.com/150">
        <p>Description of product 1.</p>
      </div>
      <div class="product">
        <h3>Product 2</h3>
        <img src="https://via.placeholder.com/150">
        <p>Description of product 2.</p>
      </div>
      <div class="product">
        <h3>Product 3</h3>
        <img src="https://via.placeholder.com/150">
        <p>Description of product 3.</p>
      </div>
      <div class="product">
        <h3>Product 4</h3>
        <img src="https://via.placeholder.com/150">
        <p>Description of product 4.</p>
      </div>
      <div class="product">
        <h3>Product 5</h3>
        <img src="https://via.placeholder.com/150">
        <p>Description of product 5.</p>
      </div>
      <div class="product">
        <h3>Product 6</h3>
        <img src="https://via.placeholder.com/150">
        <p>Description of product 6.</p>
      </div>
    </div>
    <script>
      let prevScrollPos = window.pageYOffset;
      window.onscroll = function() {
        let currentScrollPos = window.pageYOffset;
        if (prevScrollPos > currentScrollPos) {
          document.querySelector("header").style.top = "0";
        } else {
          document.querySelector("header").style.top = "-80px";
        }
        prevScrollPos = currentScrollPos;
      }
    </script>
  </body>
</html>
