@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AddProductOptionsModel
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="~/css/AddProductStyle.css">
  <title>Add Product | FarmTrade</title>
</head>

<body>

  <main>
    <form class="add-product-form" id="add-form" method="POST" asp-action="ManageAdding" enctype="multipart/form-data">
      <h1>Add Product</h1>
      <label for="product-name">Название продукта</label>
      <input type="text" id="product-name" name="product-name" required>

      <label for="product-photo">Фотография продукта</label>
      <input type="file" id="product-photo" name="product-photo" accept="image/*" required>

      <label for="product-price">Стоимость</label>
      <input type="number" id="product-price" name="product-price" step="1" required>
      
      <label for="product-weight-type">Тип веса продукта</label>
            <select id="product-weight-type" name="product-weight-type" required>
              <option value="" selected disabled>Выберите тип</option>
              @foreach(var wt in Model.WeightTypes)
            {
              <option value="@wt.Type_id">@wt.Type_name</option>
            }
              </select>

      <label for="product-quantity">Вес продукта</label>
      <input type="number" id="product-quantity" name="product-quantity" required>

      <label for="product-description">Описание продукта</label>
      <textarea id="product-description" name="product-description" rows="5" maxlength="500" required></textarea>

      <label for="product-category">Категория продукта</label>
      <select id="product-category" name="product-category" required>
        <option value="" selected disabled>Выберите категорию</option>
        @foreach(var cat in Model.Categories)
      {
        <option value="@cat.Category_id">@cat.Category_name</option>
      }
      </select>

      <button type="submit">Создать объявление</button>
    </form>
  </main>
</body>

</html>
