/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f5f5f5;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header styles */
header {
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}


/* Sign in styles */

.sign-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}


/* Sign in form styles */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 90px);
}

.sign-in-form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
}

.sign-in-form h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.sign-in-form label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.sign-in-form input[type="email"],
.sign-in-form input[type="name"],
.sign-in-form input[type="password"] {
    border: none;
    outline: none;
    background-color: #f5f5f5;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
}

.sign-in-form button[type="submit"] {
    border: none;
    outline: none;
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
}

.sign-in-form a {
    color: #2ecc71;
    text-decoration: none;
}