
<!DOCTYPE html>

<html>
<head>
    <title>Error!</title>
</head>
<body>
<div>
      <h2>An error occurred:</h2>
    <p>@ViewBag.ErrorMessage</p>
    <a href="~/Index">
    <p>Back to the index page</p>
    </a>
</div>
</body>
</html>